<!doctype html>
<html lang="fr">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>position</title>
    <link rel="stylesheet" href="index.css" />


</head>

<body>




    <header>
        <nav>
            <img class="logo" src="images/profile-logo-grey.jpg" alt="logo" />


            <menu class="main_menu">

                <li><a href="index.html">Accueil</a></li>
                <li><a href="biographie.html">Biographie</a></li>
                <li class="sous_menu"><a href="services.html">Nos services</a>
                    <menu class="sous_menu_content">

                        <li><a href="coach.html">Coaching</a></li>
                        <li><a href="nutrition.html">Nutrition</a></li>
                        <li><a href="Exercices.html">Exercices</a></li>

                    </menu>
                </li>
                <li><a href="#">contact</a></li>
                <li class="connect"><a href="connect.html">Connect</a></li>
                <li> <select name="langues" id="FR">
                        <option value="FR">FR</option>
                        <option value="En">EN</option>
                    </select>

                </li>




            </menu>
        </nav>


    </header>

    <main>

        <div class="page_biographie">
            <img class=fond src="images/grunge-abstract-metal-background.jpg" alt="fond">
            <h1>Hello, moi c'est Jordan</h1>,
            <p>Tout d'abord bienvenu sur mon site. Je vais me présenter en quelques lignes. En costard le jour, en tenue
                de
                sport le soir! Et oui, je suis dans le domaine de l'IT dans mon boulot principale mais etant un
                passionné de
                sport. J'ai décidé de me lancer dans le coaching mais pas que sportif, coach de vie car je m'interesse
                au
                devellopement personnel.</p>
        </div>
    </main>

    <footer>
        <a href="cpright">© 2050 par Kintziger Kimberley. Tous droits reversés.</a>

        <a href="#Ml">Mentions légales</a>


    </footer>
</body>

</html>
